<!--The content below is only a placeholder and can be replaced.-->
<app-nav>
    {{isAngularRoute }}
  <div id="main">
    <router-outlet [class.hidden]="isAngularRoute"></router-outlet>
    <app-iframe [class.hidden]="!isAngularRoute"></app-iframe>
  </div>

</app-nav>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a routerLink="feature1">New Feature</a></h2>
  </li>
  <li>
    <h2><a routerLink="home">Home</a></h2>
  </li>
  <li>
    <h2><a routerLink="todo">TODO</a></h2>
  </li>
</ul>
